.share-links,
.entry__share-links {
    h2 {
        text-transform: none;
        font-weight: 400;
    }

    a,
    a.has-background-accent {
        background-color: $link;
        border: 1px solid $link;

        .icon {
            fill: $white !important;
        }

        &:hover,
        &.is-hovered,
        &:focus,
        &.is-focused {
            background-color: $link !important;

            .icon {
                fill: $white !important;
            }
        }
    }
}
