.page-template-page-events-search,
.page-template-page-events-calendar {
    h1 {
        margin-bottom: 0;
    }

    input[name="event_search_text"],
    .duet-date__input {
        padding: $theme-spacing-three-quarters !important;
        font-size: 1rem;

        @include from($desktop) {
            padding: $theme-spacing !important;
        }
    }

    button[type="submit"] {
        .icon {
            width: $theme-spacing !important;
            height: $theme-spacing !important;
        }
    }

    .events {
        &__search-form {
            margin-right: auto;
            margin-left: auto;
            max-width: 65rem;
        }

        &__item {
            color: $color-tekstin-vari;

            p {
                line-height: 168%;
            }

            .h5 {
                font-weight: $weight-medium;
                text-transform: none;
            }
        }

        &__item-inner {
            @include from($desktop) {
                padding-right: $theme-spacing;
                padding-left: $theme-spacing;
                border: 1px solid $secondary;
            }
        }

        &__meta {
            font-size: 1.25rem;
            letter-spacing: .06rem;
        }
    }
}

.events-list-filters {
    .event-categories {
        input[type="radio"] {
            display: none;

            & + label {
                display: inline-block;
                margin: 0 $theme-spacing-half;
                cursor: pointer;

                &:hover,
                &:focus {
                    text-decoration: underline;
                }
            }

            &:checked + label {
                border-bottom: 2px solid $primary;
            }
        }
    }

    .event-filter-wrapper {
        position: relative;

        select {
            appearance: none;
            border: 2px solid $color-savel-lightgray;
            background-color: $white;
            border-radius: $theme-spacing-oneandhalf;
            font-weight: $weight-bold;
            padding: $theme-spacing-three-quarters $theme-spacing !important;
            font-size: 18px;
            cursor: pointer;
        }

        .icon {
            transform: translateY(-50%);
            top: 50%;
            right: 10px;
            pointer-events: none;
        }
    }
}
