.language-nav {
    .dropdown-content {
        padding-top: 0;
        padding-bottom: 0;
        border: 1px solid $light;
    }

    .dropdown {
        &.is-active {
            .icon {
                transform: rotate(180deg);
            }
        }
    }

    .dropdown-trigger {
        .button {
            padding: $theme-spacing-quarter $theme-spacing-half !important;
            background-color: transparent;
            border: none;
            font-size: 1rem !important;

            &:hover,
            &:focus,
            &:active {
                box-shadow: none;
                color: currentColor !important;
                background-color: transparent !important;
            }
        }

        .icon {
            display: block !important;
            margin-left: $theme-spacing-half !important;
        }
    }

    .dropdown-menu {
        width: 100%;
        min-width: auto;
        padding-top: 0;
        border: .15rem solid $white;
        border-top: 0;
        border-radius: $theme-spacing-half !important;
        border: 0;
        transform: translateY(10px);

        .dropdown-content {
            overflow: hidden;
            border-radius: $theme-spacing-half !important;
            background-color: $white !important;
            text-align: center;

            .dropdown-item {
                color: $color-savel-darkgreen;
                font-weight: $weight-bold;
                padding: $theme-spacing-quarter !important;
                font-size: 1rem !important;

                &,
                &:hover,
                &:focus {
                    background-color: transparent !important;
                }
            }
        }
    }
}

.lang-nav {
    &--horizontal {
        a {
            border-color: $white !important;

            &.has-background-primary {
                &:hover,
                &:focus,
                &:active {
                    background-color: $primary !important;
                }
            }

            &:focus {
                outline-offset: .2rem;
                outline: .15rem dotted $white !important;
            }
        }
    }
}
