.language-nav {
    .dropdown-content {
        padding-top: 0;
        padding-bottom: 0;
        border: 1px solid $light;
    }

    .dropdown {
        &.is-active {
            .icon {
                transform: rotate(180deg);
            }
        }
    }

    .dropdown-trigger {
        .button {
            padding: $theme-spacing-quarter $theme-spacing-half !important;
            background-color: transparent;
            border: none;

            @include from($desktop) {
                font-size: 1.25rem !important;
            }

            &:hover,
            &:focus,
            &:active {
                box-shadow: none;
                color: currentColor !important;
                background-color: transparent !important;
            }
        }

        .icon {
            display: block !important;
        }
    }

    .dropdown-menu {
        width: 100%;
        min-width: auto;
        padding-top: 0;
        border: .15rem solid $white;
        border-top: 0;
        border-radius: $theme-spacing-half !important;
        border: 0;
        transform: translateY(10px);

        .dropdown-content {
            overflow: hidden;
            border-radius: $theme-spacing-half !important;
            background-color: $color-savel-green !important;
            text-align: center;

            .dropdown-item {
                color: $white;
                padding: $theme-spacing-quarter !important;

                @include from($desktop) {
                    font-size: 1.25rem !important;
                }

                &,
                &:hover,
                &:focus {
                    background-color: transparent !important;
                }
            }
        }
    }
}

.lang-nav {
    &--horizontal {
        a {
            border-color: $white !important;

            &.has-text-primary {
                color: $color-savel-darkgreen !important;
            }

            &.has-text-primary-invert {
                &:hover {
                    color: $primary-invert !important;
                }
            }

            &:hover {
                background-color: $primary-invert !important;
            }

            &:focus {
                outline-offset: .2rem;
                outline: .125rem dotted $white !important;
            }
        }
    }
}
