.secondary-menu {
    .menu-item-secondary {
        &__link {
            position: relative;
            font-weight: $weight-normal !important;
            padding: 0;
            color: $navbar-item-navbar-link-color !important;
            text-transform: none;
            letter-spacing: .05rem;

            &::after {
                content: '';
                display: block;
                position: absolute;
                width: 1rem;
                height: 1rem;
                top: 0;
                left: 0;
                background-image: url('../images/arrow-outward.svg');
            }

            @include from($desktop) {
                font-size: 1.25rem !important;
            }

            &:hover,
            &:focus {
                color: $navbar-item-navbar-link-color !important;
            }
        }
    }
}
