.site-header-notice {
    button {
        &.is-outlined {
            &,
            &:hover,
            &:focus {
                border-color: $color-savel-white !important;
                color: $color-savel-white !important;
            }
        }

        &:focus,
        .is-focus {
            outline: .15rem dotted $white !important;
        }
    }
}
