@import "functions";

// All Tampere brand colors
$color-white: #ffffff;
$color-black: #000000;

// Override Bulma
$white: $color-white;
$black: $color-black;

$color-savel-darkgreen: #032502;
$color-savel-darkblue: #1C232D;
$color-savel-green: #276634;
$color-savel-lightgreen: #E4FFE9;
$color-savel-white: #F6F7F9;
$color-savel-lightgray: #E5E7EB;
$color-savel-blue: #1C6DCF;
$color-savel-light-blue: #39B6F6;
$color-savel-brown: #1F0202;
$color-savel-light-brown: #5F3326;
$savel-gradient-green: linear-gradient( 315deg, $color-savel-darkgreen 0%, $color-savel-green 100% );

$color-savel-button: $color-savel-darkgreen;
$color-savel-button-hover: bulmaLighten($color-savel-darkgreen, 10);

$color-tekstin-vari: #212936;
$color-ui-border: #414141;
$color-gray: #a6a7ac;

$color-vaalean-harmaa: #A6A7AC;
$color-tumma-harmaa: #585857;
$color-ui-border: #414141;
$color-gray: #a6a7ac;
$color-ui-border-light: #767676;
