.subpages {
    .post-link {
        border: 1px solid $primary;

        &:not(.has-background-image) {
            &,
            &:hover,
            &:focus,
            &:active {
                background: $savel-gradient-green !important;
                color: $white !important;
            }
        }

        .icon {
            fill: currentColor !important;
        }

        .h5 {
            color: currentColor !important;
            letter-spacing: .01em;
            line-height: 141%;
            text-transform: none;
        }
    }
}
